<div>
  <p>
    Hi
    {{name}},
  </p>

  <p>
    Welcome to
    {{appName}}!
  </p>

  <p>
    To complete your registration and start enjoying all the features we offer, please verify your
    email address by clicking the link below:
  </p>

  <p>
    <a class='button' id='toke-link' href='{{verificationLink}}'>
      Verify My Email
    </a>
  </p>
  <p>
    Or, Copy this link:
  </p>
  <p>
    <a class='link' href='{{verificationLink}}'>
      {{verificationLink}}
    </a>
  </p>

  <p>
    If you did not create an account with
    {{appName}}, please disregard this email.
  </p>

  <p>
    Thank you for joining us. We're excited to have you on board!
  </p>

  <p>
    Best regards,
    <br />
    The
    {{appName}}
    Team
  </p>
</div>