<div>
  <p>
    Hi
    {{name}},
  </p>

  <p>
    Welcome to
    {{appName}}!
  </p>

  <p>
    We received a request to delete your account with
    {{appName}}. If you made this request, please confirm by clicking the link below:
  </p>

  <p>
    <a class='button' id='token-link' href='{{verificationLink}}'>
      Confirm deletion
    </a>
  </p>
  <p>
    Or, Copy this link:
  </p>
  <p>
    <a class='link' href='{{verificationLink}}'>
      {{verificationLink}}
    </a>
  </p>

  <p>
    For your security, this link will expire in 1 hour.
  </p>

  <p>
    If you did not request to delete your account, please ignore this email. Your account will
    remain active and no changes will be made.
  </p>

  <p>
    Best regards,
    <br />
    The
    {{appName}}
    Team
  </p>
</div>