<div>
  <p>
    Hi
    {{name}},
  </p>

  <p>
    We received a request to reset your password for your
    {{appName}}
    account. To proceed, please click the link below:
  </p>

  <p>
    <a class='button' id='token-link' href='{{verificationLink}}'>
      Reset password
    </a>
  </p>
  <p>
    Or, Copy this link:
  </p>
  <p>
    <a class='link'>
      {{verificationLink}}
    </a>
  </p>

  <p>
    If you did not request a password reset, please ignore this email. Your password will remain
    unchanged.
  </p>

  <p>
    For your security, this link will expire in 1 hour.
  </p>

  <p>
    Best regards,
    <br />
    The
    {{appName}}
    Team
  </p>
</div>